@use '../tools/mixins' as *;

.arkimon__hero {
    width: 100%;
    height: fit-content;

    &-container {
        width: inherit;
        height: inherit;

        padding-top: 5rem;

        display: grid;
        grid-template-columns: .75fr 1fr;
        column-gap: 5rem;

        justify-content: end;
        align-items: end;

        &_left {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start !important;

            gap: 3rem;

            > h1 {
                font-family: 'Mulish';
                font-size: 6rem;
                line-height: 115%;
            }

            > p {
                font-size: 18px;
                line-height: 147%;
                letter-spacing: 0.02em;
                color: var(--gray1-clr);
            }

            > button {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 15.5px 30px;

                gap: 9px;
                width: 209px;
                height: 53px;
                
                text-align: center;
                background: #414141;
                border-radius: 2px;
                color: var(--white-clr);

                > svg {
                    transform: translateX(0);
                    transition: .5s transform ease;
                }

                &:hover > svg {
                    transform: translateX(1rem);
                }
            }
        }

        &_right {
            width: 100%;
            height: 100%;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        @include mediaQuery(37.5rem) {
            & {
                grid-template-columns: 1fr;
                column-gap: 0;
                row-gap: 5rem;
            }
        }
    }
}