.arkimon__projects {
    width: 100%;

    &-container {
        width: 100%;

        display: flex;
        flex-direction: column;

        gap: 5rem;

        padding: 10rem 0;

        &_info {
            display: flex;
            justify-content: space-between !important;

            > h1 {
                font-size: 40px;
                line-height: 116.5%;
                letter-spacing: 0.02em;
                color: var(--black-clr);

                width: 70%;
            }

            &-arrows {
                width: 30%;

                display: flex;
                justify-content: space-around !important;
            }
        }

        &-images {
            width: 100%;

            display: flex;
            gap: 3rem;

            justify-content: flex-start;
            align-items: flex-start;

            // overflow-x: scroll;
        }
    }
}